<!doctype html>
<html lang="en" ng-app="GitUserSearch">
<head>
  <meta charset="utf-8">
  <title>Github user search</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/gitUserSearchController.js"></script>
  <script src="js/searchFactory.js"></script>
  <script src="js/repoFactory.js"></script>
  <link rel="stylesheet" type="text/css" href="js/stylesheet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body ng-controller="GitUserSearchController as searchCtrl">
  <div>

    <div class="col-sm-12 text-center" >
      <h1> <i class="fa fa-github-square fa-6px"></i> <a class="title" href="file:///Users/andrewhtun/Documents/github_profiles/index.html">GitHub User Search</a></h1>
    </div>
    <br>

    <div class="page-header">
    </div>

    <form class="form-horizontal text-center">
    <input class="textbox" type="text" ng-model="searchCtrl.searchTerm" ng-change="searchCtrl.doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" placeholder="Enter a username">
      <button class="btn btn-success btn-md" ng-click="searchCtrl.doSearch()"><i class="fa fa-search fa-4px"></i> SEARCH</button>
    </form>
    <i class="fa fa-spinner fa-pulse" ng-show="list-group"></i>
    <ul class="list-group text-center" ng-show="searchCtrl.searchTerm" ng-show="searchCtrl.searchResult">
      <p>  <i class="fa fa-user"></i> search results for <strong>{{searchCtrl.searchTerm}}</strong>:</p>
      <li class="inline-list" ng-repeat="user in searchCtrl.searchResult.items">
      <p><a  ng-href="{{user.html_url}}"><strong><font size="5">{{user.login}}</font></strong></a>{{user.followers_url.count}}</p>
        <a ng-href="{{user.html_url}}" target="_blank"><img class="img-rounded" ng-src="{{user.avatar_url}}" height="170" width="170"></a>
          <br>
        <strong><u>Latest GitHub Repositories</u></strong>
        <p class="inline-list" ng-repeat="repo in searchCtrl.repoResult | orderBy: 'created_at':true | limitTo:3">
        <i text-align="right" class="fa fa-github fa-lg"></i> <strong><i><a ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></i></strong>
       created: {{repo.created_at | date: format : timezone}}
     </p>
    </li>


    </ul>

    <!-- <li class="list-group-item">
    <img src="https://avatars.githubusercontent.com/u/30216?v=3&s=50">
    <a href="https://github.com/tansaku">tansaku</a>
  </li> -->

  </div>
</body>

  <div id="footer">
  <div style="border-top: solid 1px #eee; padding-top: 1em;">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 text-center">

          <p class="text-muted">GitHub User Search | © Copyright 2016, All Rights Reserved
            <br>| GitHub User Search created by Andrew Htun, while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/Htunny" target="_blank">GitHub</a> | <a href="https://htunnycodes.wordpress.com/" target="_blank">Blog</a> |</p>
            <p class="text-center">
              <i class="fa fa-twitter-square fa-2x text-primary"></i>
              <i class="fa fa-facebook-square fa-2x text-primary"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </html>
